{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <title></title>
    <meta charset="UTF-8" <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {{ template "form" .Form }}
    {{ template "display" .Data }}
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-target="#contacts" hx-post="/contacts">
    name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" />

    email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email" />

    {{ if .Errors.email }}
    <div style="color: red;">{{ .Errors.email }}</div>
    {{ end }}

    <button type="submit">Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
    {{ range .Contacts }}
    <div>
        Name: <span>name: {{ .Name }}</span>
        Email: <span>email: {{ .Email }}</span>
    </div>
    {{ end }}
</div>
{{ end }}