{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://unpkg.com/htmx.org@1.9.12"
        integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
        crossorigin="anonymous"></script>
    <title></title>
    <meta charset="UTF-8" <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/index.css" />
</head>

<body>
    {{ template "form" .Form }}
    {{ template "display" .Data }}
    <script>
        document.addEventListener("DOMContentLoaded", (event) => {
            document.body.addEventListener('htmx:beforeSwap', function (evt) {
                if (evt.detail.xhr.status === 422) {
                    // allow 422 responses to swap as we are using this as a signal that
                    // a form was submitted with bad data and want to rerender with the
                    // errors
                    //
                    // set isError to false to avoid error logging in console
                    evt.detail.shouldSwap = true;
                    evt.detail.isError = false;
                }
            });
        });
    </script>
</body>

</html>
{{ end }}

{{ block "form" . }}
<form hx-swap="outerHTML" hx-post="/contacts">
    name: <input {{ if .Values.name }} value="{{ .Values.name }}" {{ end }} type="text" name="name" />

    email: <input {{ if .Values.email }} value="{{ .Values.email }}" {{ end }} type="text" name="email" />

    {{ if .Errors.email }}
    <div style="color: red;">{{ .Errors.email }}</div>
    {{ end }}

    <button type="submit">Contact</button>
</form>
{{ end }}

{{ block "display" . }}
<div id="contacts" style="display: flex; flex-direction: column;">
    {{ range .Contacts }}
    {{ template "contact" . }}
    {{ end }}
</div>
{{ end }}

{{ block "contact" . }}
<div id="contact-{{ .Id }}" hx-swap="outerHTML" style="display: flex; justify-content: left; align-items: center;">
    <div hx-indicator="#ci-{{ .Id }}" hx-delete="/contacts/{{ .Id }}" hx-target="#contact-{{ .Id }}"
        style="width: 1rem; cursor: pointer; margin: 2rem;">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24" width="24px" height="24px">
            <path
                d="M5 21h14a2 2 0 0 0 2-2V7H3v12A2 2 0 0 0 5 21zm2-10h2v8H7v-8zm4 0h2v8h-2v-8zm4 0h2v8h-2v-8zM18.5 4l-1-1h-11l-1 1H5v2h14V4h-0.5z" />
        </svg>
    </div>
    Name: <span>{{ .Name }}</span>
    Email: <span>{{ .Email }}</span>
    <div id="ci-{{ .Id }}" class="htmx-indicator">
        <img src="/images/bars.svg" alt="loading" style="width: 1rem;" />
    </div>
</div>
{{ end }}


{{ block "oob-contact" . }}
<div id="contacts" hx-swap-oob="afterbegin">
    {{ template "contact" . }}
</div>
{{ end }}